<!DOCTYPE html>
<html>
 <head>
  <script type="text/JavaScript">
    <!--
        function AutoRefresh( t ) {
           setTimeout("location.reload(true);", t);
        }
      //-->
    </script>
  <meta charset="UTF-8">
  <title>Bluestall</title>
 </head>
 <body onload="JavaScript:AutoRefresh(5000);">
  <img src="/<%= @status %>.jpg" alt="Stall status" >
 </body>
</html>
